.container {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1.65em;
  margin-bottom: 1.65em;
  cursor: pointer;
}

.container:hover,
.container:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #2196f3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.65em;
}

.price {
  font-size: 2rem;
  line-height: 1em;
  font-weight: 600;
  color: #2196f3;
}

.descriptionRow {
  display: flex;
  margin-bottom: 0.8em;
}

.descriptionRow:last-child {
  margin-bottom: 0;
}

.descriptionColumn {
  width: calc((100% - 3.3em) / 3);
  margin-right: 1.65em;
}

.descriptionColumn:last-child {
  margin-right: 0;
}

.titleInfo {
  display: block;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;
}

.info {
  display: block;
  font-weight: 600;
  line-height: 1.5em;
}

@media (max-width: 424.98px) {
  .descriptionColumn {
    width: calc(100% / 3);
    margin-right: 0;
  }
}
